#oops, #oops2 {
 display: none;
}
.playerone-buttons, .playertwo-buttons, .newgame {
 text-align: center;
}
.playertwo-buttons {
 display: none;
 clear: both;
}
.playertwo-section, .playerone-section {
 text-align: center;
}
